create a venv and install the following packages:

pip isntall torch
pip isntall transformers
pip isntall datasets
pip isntall peft
pip isntall bitsandbytes
pip install torch torchvision --index-url https://download.pytorch.org/whl/cu130
